
@{
    Layout = null;
}

 

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giriş</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />

</head>

<body  >

    <div class="col-sm-12 col-md-12 col-xl-12 bg-dark text-white alert">
        GoodChat
    </div>
   
    <div class="col-sm-6 col-md-6 col-xl-6 container mt-5">

        <div class="form-group">
            <a href="/Home/Login"><input type="submit" class="form-control btn-danger" value="Giriş yap" /></a>

        </div>
        <div class="form-group">
            <a href="/Home/SavesLogin"><input type="submit" class="form-control btn-danger" value="Kayıt yap" /></a>

        </div>


    </div>
     
</body>

</html>